src/main/mule/implementations/get-covid-case-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\cases\(nationalID):sura-uhub-aspi-config">
		<set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="a68e0cb0-9f2a-43d2-94c9-3c5d6c4f37b6" variableName="correlationId" />
		<logger level="INFO" doc:name="Start Log" doc:id="e9f4e07a-dddb-404e-9ce9-4218867c4d4b" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: "Started get covid case by national id flow"' />
		<set-variable value="#[attributes.uriParams.nationalID]" doc:name="Set nationalID" doc:id="9e2277d6-022f-4fab-b688-b858e96c6b0a" variableName="nationalID" />
		<flow-ref doc:name="Select Case by NationalID" doc:id="418340e8-3baa-41d9-8f48-ec9999187165" name="SelectCaseByNationalID" />
		<choice doc:name="Choice" doc:id="aab9a2ed-2499-4a15-9618-f4c8fd5d9496" >
			<when expression="#[sizeOf(payload) &gt; 0]" >
				<ee:transform doc:name="Set Success Response" doc:id="45994914-68ee-46ba-9b7c-589e00c11fee" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (covidCase, indexOfCovidCase) -> {
	caseID: covidCase.case_id,
    source: covidCase.case_source,
    caseType: covidCase.case_type,
    firstName: covidCase.first_name,
    lastName: covidCase.last_name,
    phone: covidCase.phone,
    email: covidCase.email,
    dateOfBirth: covidCase.date_of_birth as String {format: "yyyy-MM-dd"},
    nationalID: covidCase.national_id,
    nationalIDType: covidCase.national_id_type,
    address: {
      streetAddress: covidCase.street_address,
      city: covidCase.city,
      state: covidCase.state,
      postal: covidCase.postal,
      country: covidCase.country
    },
    createDate: covidCase.create_date as String {format: "yyyy-MM-dd"},
    updateDate: covidCase.update_date as String {format: "yyyy-MM-dd"}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Set Not Found Response" doc:id="770b6ee5-ebb2-436a-b1c0-2a5c51968fcc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"code": 404,
	"message": "Resource not found",
	"description": "The server has not found anything matching the Request-URI",
	"dateTime": now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" },
	"transactionId": vars.transactionId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Log" doc:id="278b4056-c55f-4774-8932-9833afba95c7" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Completed get covid case by national id flow, payload: #[payload]"' />

    </flow>
	</mule>
